<div class='card'>
    <div class='card-body'>
        <div class='row'>
            <label for="firstname" class='col-sm-4'>First Name:</label>
            <input class='col-sm-8' type="text" name="firstname" [(ngModel)]="user.firstName" /><br />
        </div>
        <div class='row'>
                <label for="lastname" class='col-sm-4'>Last Name:</label>
                <input class='col-sm-8' type="text" name="lastname" [(ngModel)]="user.lastName" /><br />
        </div>
        <div class='row'>
                <label for="empid" class='col-sm-4'>Employee Id:</label>
                <input class='col-sm-8' type="number" name="empid" [(ngModel)]="user.empId" /><br />
        </div>        
    </div>
    
    <div class='card-footer'>
        <div class='row'>
            <div class='col-sm-9'></div>
            <div class='col-sm-1'>
                <button class='btn btn-outline-secondary'
                    (click)='onAdd()'
                    style='width:80px'>
                    Add
                </button>
            </div>
            <div class='col-sm-1'>
                <button class='btn btn-outline-secondary'
                    (click)='onAdd()'
                    style='width:80px'>
                    Reset
                </button>
            </div>
        </div>
    </div>
</div>
